#mainNav
{
background: rgba(0,0,0,.3);
}

.t-head
{
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    padding-bottom: 0px;
}

.t-body
{
    font-family: 'Spartan', sans-serif;
}

body {
    background-image: url("img/background.jpg");
    background-size: cover; 
    background-color: #cccccc;
    }
.logo
{
    opacity:1;
}

.divider {
    border-right: 1px solid white;
}

footer {
    background-color: #45484C;
}

p {
    font-size: 19px;
}

.cardhead {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.cardbody {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
}

.cardsub
{
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    color: rgba(149, 129, 114, 1);
}

.jumbohead
{
    font-family: 'Roboto Slab', serif;
    color: #F4F7F1;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 3px 3px 7px rgba(0,0,0,.75);
    
}

.jumbooverlay
{
    padding-top: 25px;
    margin-bottom: -75px;
}

.socialicon
{
    color: white;
    padding-left: 10px;
}

.thumbborder
{
    border: 2px solid rgba(149, 129, 114, 1);
    filter: drop-shadow(0px 2px 5px rgba(0,0,0,.75));

}
